<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>hum enterprises</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#    allows us to load static files #}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<style>
    @media only screen and (max-width: 600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

}

</style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-black navbar-blue">
  <div class="container-fluid">
    <a class="navbar-brand">

    </a>
      <h class="justify-content-center" style="color: white"><strong>viatu genje!!!</strong></h>
      <a href="/shoes" class="btn btn-success">add shoe</a>
      <a href="/display" class="btn btn-info">cheki za admin</a>
  </div>
</nav>
<div class="container mt-3">
<div class="flex-container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Shoe name</th>
        <th>Shoe image</th>
        <th>Shoe price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for shoes in shoes%}

      <tr>
        <td>{{ shoes.shoesname }}</td>
        <td><img src="{{ shoes.shoesimage }}" width="150" height="150"></td>
        <td>Ksh {{ shoes.shoesprice }}</td>
        <td>
            <a href="/edit/{{ shoes.id }}" class="btn btn-outline-success"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <br>
            <br>
            <a href="/delete/{{ shoes.id }}" class="btn btn-outline-danger">Delete</a>
            <br>
            <br>
            <a href="/checkout/{{ shoes.id }}" class="btn btn-outline-info">Checkout</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>